// .contacts {
// }

.contacts__wrapper {
  padding-top: 50px;
  padding-bottom: 10px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
    padding-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }
}

.contacts__slogan {
  margin: 0;
  margin-bottom: 45px;

  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__list-item {
  text-align: center;

  & h3 {
    margin: 0;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
  }

  & a {
    font-size: 24px;
    font-weight: 300;
    line-height: 32.68px;
    color: @coral-red;

    text-decoration: none;
  }

  & a:hover {
    color: @basic-font;
    text-decoration: underline;
  }

  & a:active {
    color: @slider-btn;
    text-decoration: none;
  }
}
