// .contacts {
// }

.contacts__wrapper {
  padding-top: 50px;
  padding-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
    padding-bottom: 26px;
  }
}

.contacts__slogan {
  margin: 0;
  margin-bottom: 45px;

  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;

    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;

    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.contacts__list-item {
  text-align: center;

  margin-bottom: 41px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    width: 100%;
    max-width: 50%;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    width: auto;

    &:first-of-type {
      margin-right: 0;
    }

    &--phone {
      order: 1;
    }

    &--email {
      order: 3;
    }

    &--address {
      order: 2;
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
  }

  & a {
    font-size: 24px;
    font-weight: 300;
    line-height: 32.68px;
    color: @coral-red;

    text-decoration: none;
  }

  & a:hover {
    color: @basic-font;
    text-decoration: underline;
  }

  & a:active {
    color: @slider-btn;
    text-decoration: none;
  }
}
