.effect {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    display: block;

    background-color: @background-gray;
  }
}

.effect__wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 54px;
  padding-bottom: 10px;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    padding-top: 17px;
    padding-bottom: 67px;
  }
}

.effect__time-logo {
  display: block;

  width: 238px;
  height: 276px;

  @media (min-width: @tablet-width) {
    margin-right: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 298px;
    height: 345px;
  }
}


.effect__headline {
  margin: 0;
  margin-bottom: 24px;

  font-size: 30px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
    padding-right: 101px;
    line-height: 1.2;
    margin-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.effect__text-wrapper {
  @media (min-width: @desktop-width) {
    padding-top: 50px;
  }
}

.effect__text {
  margin: 0;
  margin-bottom: 24px;

  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin: 0 0 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;

    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  display: block;

  color: @coral-red;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
