// .feedback {
// }

.feedback__wrapper {
  padding: 50px 20px 60px;

  @media (min-width: @desktop-width) {
    padding: 50px 130px 60px;
  }
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.feedback__list-item {
  display: flex;
  flex-direction: column;

  text-align: center;
}

// .feedback__list-item--current {
// }


.feedback__title {
  display: block;

  margin-bottom: 31px;

  font-size: 18px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-bottom: 49px;
  }
}

.feedback__title-job {
  display: none;

  font-size: 14px;
  font-weight: 400;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.feedback__text {
  margin: 0;

  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
  }
}

.feedback__buttons {
  margin: 0;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
