// .footer {
// }

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;

  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo-wrapper {
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.footer__logo {
  display: none;

  width: 152px;
  height: 40px;

  fill: @basic-font;

  &:hover {
    fill: @coral-red;
  }

  &:active {
    fill: @basic-font;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 145px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
  }
}

.footer__logo--mobile {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.footer__logo--tablet {
  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.footer__logo--desktop {
  @media (min-width: @desktop-width) {
    display: block;
  }
}


.footer__social-list {
  display: flex;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.footer__social-item {
  margin-right: 8px;

  &:last-of-type {
    margin-right: 0;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border: 3px solid @footer-social-border;
  border-radius: 50%;

  &:hover {
    border: 3px solid @basic-font;
  }

  &:active {
    opacity: 0.1;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  margin: 0;

  line-height: 18px;

  & span {
    margin-right: 15px;
  }

  &:hover .footer__copyright-link {
    & svg {
      fill: @basic-font;
    }
  }

  &:active .footer__copyright-link {
    & svg {
      fill: fade(@basic-font, 30%);
    }
  }
}

.footer__copyright-link {
  & svg {
    fill: @coral-red;
  }
}
