.header {
  position: absolute;

  width: 100%;

  font-size: 18px;
  font-weight: 700;

  background-color: @background-header;

  @media (min-width: @desktop-width) {
    font-weight: 400;
  }
}

.header--opened {
  background-color: @basic-font;

  @media (min-width: @desktop-width) {
    background-color: @background-header;
  }
}

.header--opened .header__wrapper {
  min-height: 69px;

  @media (min-width: @tablet-width) {
    min-height: 110px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 66px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-height: 110px;
  }
}

.header__logo {
  display: none;

  width: 74px;
  height: 23px;

  fill: @basic-white;

  @media (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
  }

  &:hover {
    fill: @coral-red;
  }

  &:active {
    fill: @logo-active;
  }
}

.header__logo--mobile {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.header__logo--tablet {
  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__logo--desktop {
  @media (min-width: @desktop-width) {
    display: block;
  }
}

.header__logo-wrapper {
  @media (min-width: @tablet-width) {
    padding-bottom: 15px;
  }
}
