.header {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  font-weight: 700;

  background-color: @background-header;
}


.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 66px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    height: 110px;
  }
}

// .header__logo {
// }

.header__nav-toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
