.intro {
  color: @basic-white;
  background-color: @bg-dark-blue;
  background-image: url("../img/backgrounds/back-mobile.jpg");
  background-repeat: no-repeat;
}

.intro__wrapper {
  padding: 95px 20px 38px;
}

.intro__header {
  padding-bottom: 310px;

  background: url("../img/backgrounds/phone-bg.png") no-repeat 0 80px;
}

.intro__slogan {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: center;
}

.intro__download-wrapper {
  padding-top: 28px;
}

.intro__download-button {
  display: block;

  margin-bottom: 32px;
  padding: 21px 38px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: @basic-white;
  text-decoration: none;

  border: 3px solid @basic-white;
  border-radius: 29px;

  &:hover {
    color: @coral-red;
    background-color: @basic-white;
  }

  &:active {
    color: @coral-red-active;
  }
}

.intro__logo-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

// .intro__logo-list-item {
// }

// .intro__download-link {
// }

.intro__legend {
  margin: 0;

  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
