.range {
  display: none;
}

.range--active {
  display: block;
}

.range__scale {
  height: 2px;
  width: 100%;
  background-color: @basic-font;
}

// .range__bar {
// }

.range__toggle {
  width: 10px;
  height: 10px;

  border-radius: 50%;
  border: 2px solid @coral-red;

  &:active {
    background-color: @coral-red;
  }
}
