// .slider-list {
// }

// .slider-list__item {
// }

.slider__buttons {
  text-align: center;
}

.slider__button {
  width: 6px;
  height: 6px;
  padding: 0;
  box-sizing: content-box;

  background-color: @slider-btn;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: @slider-btn-hover;
  }
}

.slider__button--current {
  background-color: @basic-white;
  border: 3px solid @basic-font;

  &:hover {
    background-color: @basic-white;
  }
}
