// .slider-list {
// }

// .slider-list__item {
// }

.slider-buttons {
  text-align: center;
}

.slider-buttons__item {
  width: 6px;
  height: 6px;
  padding: 0;
  margin-right: 15px;
  box-sizing: content-box;

  background-color: @slider-btn;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: @slider-btn-hover;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.slider-buttons__item--current {
  background-color: @basic-white;
  border: 3px solid @basic-font;

  &:hover {
    background-color: @basic-white;
  }
}

.slider-buttons__scroll {
  position: absolute;
  top: 50%;

  padding: 10px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover svg {
    fill: @slider-gray;
  }

  &:active svg {
    fill: @slider-pale;
  }
}

.slider-buttons__scroll svg {
  fill: @editor-gray;
}

.slider-buttons__scroll--left {
  left: 10px;
  top: 52%;
}

.slider-buttons__scroll--right {
  right: -10px;

  transform: rotate(180deg);
}
